{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
<h1>Ajouter Livraison</h1>

<form method="post" action="{{ path('ajouter_livraison', { idCommande: commande.id }) }}">
    <div>
        <label for="adresse">Adresse :</label>
        <input type="text" id="adresse" name="adresse" required>
    </div>
    <button type="submit" class="btn btn-success">Confirmer la Livraison</button>
</form>

<a href="{{ path('commande_detail', { id: commande.id }) }}" class="btn btn-secondary">Retour</a>
{% endblock %}
