{% extends 'base.html.twig' %}

{% block title %}Ajouter une Livraison{% endblock %}

{% block body %}
    <h1>Ajouter une Livraison pour la Commande #{{ commande.id_commande }}</h1>

    <form method="post" action="{{ path('ajouter_livraison', { idCommande: commande.id }) }}">
        <div class="form-group">
            <label for="adresse">Adresse de Livraison:</label>
            <input type="text" id="adresse" name="adresse" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="status">Statut:</label>
            <input type="text" id="status" name="status" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Confirmer la Livraison</button>
    </form>
{% endblock %}
