// ...existing code...
<div class="sidebar-heading">
    Main Menu
</div>

<li class="nav-item">
    <a class="nav-link" href="{{ path('admin_dashboard') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ path('admin_products') }}">
        <i class="fas fa-fw fa-box"></i>
        <span>Products</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ path('admin_product_types') }}">
        <i class="fas fa-fw fa-tags"></i>
        <span>Product Types</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ path('admin_stocks') }}">
        <i class="fas fa-fw fa-warehouse"></i>
        <span>Stocks</span>
    </a>
</li>
// ...existing code...
