{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <!-- Set top margin to 30px to create space between navbar and content -->
    <div class="container mt-10" style="margin-top: 70px;">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <!-- Reset Password Header -->
        <div class="text-center mb-4">
            <h1 class="display-4 text-warning">Reset your password</h1>
        </div>

        <!-- Reset Password Request Form -->
        <div class="card shadow-lg p-4">
            {{ form_start(requestForm) }}
                <div class="form-group mb-4">
                    <label for="email" class="form-label">Email</label>
                    {{ form_widget(requestForm.email, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div>
                    <small>
                        Enter your email address, and we will send you a
                        link to reset your password.
                    </small>
                </div>

                <button class="btn btn-primary btn-lg w-100 mt-4">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
