{% extends 'base.html.twig' %}

{% block title %}Edit Materiellocation{% endblock %}

{% block body %}
    <h1>Edit Materiellocation</h1>

    {{ include('materiellocation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_materiellocation_index') }}">back to list</a>

    {{ include('materiellocation/_delete_form.html.twig') }}
{% endblock %}
