{% extends 'base.html.twig' %}

{% block title %}Edit Materielvente{% endblock %}

{% block body %}
    <h1>Edit Materielvente</h1>

    {{ include('materielvente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_materielvente_index') }}">back to list</a>

    {{ include('materielvente/_delete_form.html.twig') }}
{% endblock %}
