{% extends 'base.html.twig' %}

{% block title %}Ajouter un Paiement{% endblock %}

{% block body %}
    <h1>Ajouter un Paiement pour la Commande #{{ commande.id_commande }}</h1>

    <form method="post" action="{{ path('ajouter_paiement', { idCommande: commande.id }) }}">
        <div class="form-group">
            <label for="methode">Méthode de Paiement:</label>
            <input type="text" id="methode" name="methode" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Confirmer le Paiement</button>
    </form>
{% endblock %}
