{# templates/emails/contact.html.twig #}
<h3>Nouveau message de {{ data.nom }}</h3>
<p>Propriété concernée : {{ parcelle.titre }}</p>
<hr>
<p>De : {{ data.email }}</p>
<p>Message :</p>
<p>{{ data.message|nl2br }}</p>