{% extends 'base.html.twig' %}

{% block title %}Employés{% endblock %}

{% block body %}
    <h3>Employees Subscribed:</h3>
<ul>
    {% for employe in offre.employes %}
        <li>
            Employee ID: {{ employe.userIdentifier }} - Competence: {{ employe.comp }}
            <a href="{{ path('app_employe_unsubscribe', {'id': offre.id, 'userId': employe.userIdentifier}) }}" class="btn btn-danger btn-sm">Cancel Subscription</a>
        </li>
    {% else %}
        <li>No employees subscribed yet.</li>
    {% endfor %}
</ul>


    <a href="{{ path('app_offre_show', {'id': idoffre}) }}" class="btn btn-primary">Retour</a>
{% endblock %}