

 {% extends 'base.html.twig' %}

{% block title %}New ParcelleProprietes{% endblock %}

{% block body %}


<div class="container mt-5 pt-5">
    <h1>Create new ParcelleProprietes</h1>
    {{ include('parcelle_proprietes/_form.html.twig') }}
    <a href="{{ path('app_parcelle_proprietes_index') }}">back to list</a>
</div>

 
{% endblock %}


